<div class="booyah-box col-xs-10 col-xs-offset-1">

	<h1>Charts</h1>

	<div>
		<% @charts.each do |chart| %>
			<div class="booyah-box col-xs-10 col-xs-offset-1">
				<p>
					<%= chart.track_name %> <%= chart.race_date %> - 
					<%= link_to 'Show Chart', chart_path(chart.id) %>
				</p>

			</div>

		<% end %>
	</div>		

	<br /><br /><br />

	<div class="text-left destroy-charts">
		<p>
			<%= link_to 'Destroy all charts', charts_path(), :method => :delete %>
		</p>
	</div>	

	<div class="text-right new-charts">
		<p>
			Go here to add a <%= link_to 'new chart', new_chart_path %>
		</p>
	</div>

</div>
