<div class="booyah-box col-xs-10 col-xs-offset-1">

	<h1>Charts</h1>

<% @charts.each do |chart| %>
	<div class="booyah-box col-xs-10 col-xs-offset-1">
		<i><%= chart.race_date %></i><br /><br />
		<p><%= chart.track_name %></p><br />
		<p><%= chart.race_number %></p><br />
		<p><%= chart.entry_name %></p><br />
		<p><%= chart.official_finish %></p><br />

	</div>

<% end %>			

</div>

