<div class="booyah-box col-xs-10 col-xs-offset-1">

	<h1>Race Levels</h1>

	<% @racelevels.each do |racelevel| %>  

		<b><%= racelevel.race_type %> for <%= racelevel.restriction %></b>
		<b><%= racelevel.distance %><%= racelevel.dist_unit %> on <%= racelevel.surface %>
		<br />

	<% end %>



</div>