<div class="booyah-box col-xs-10 col-xs-offset-1">

	<h1>Trainers</h1>

	<% @trainers.each do |trainer| %>  
	
		<b><%= trainer.last_name %> <%= trainer.suffix %></b>, <%= trainer.first_name %> <%= trainer.middle_name %> [KEY: <%= trainer.key %> TYPE: <%= trainer.trainer_type %>]
		<br />

	<% end %>

</div>