<div class="booyah-box col-xs-10 col-xs-offset-1">

	<h1>
		Trainers!<span class="headingNote"></span>
	</h1>

	<h2>
		Win ROI*
	</h2>
	
	<% Trainer.distinct_tracks.each do |trainerTracks| %>

		<h3><%= trainerTracks.track_name.titleize %></h3>

		<table class="table table-condensed table-bordered table-hover">
			<tr>
				<th>Trainer Name</th>
				<th>Win ROI</th>
				<th>Wins</th>
				<th>Total Races</th>
			</tr>
			<% Trainer.with_win_roi.where("track_name = ?", trainerTracks.track_name).having("#{Trainer::TRAINER_WIN_ROI_SELECT} > 5 and #{Trainer::TRAINER_NUMBER_OF_WINS} > 1").each do |trainerWinROI| %>
				<tr>
					<td>
						<%= trainerWinROI.last_name %><% if trainerWinROI.suffix != "" %> <%= trainerWinROI.suffix %><% end%>, <%= trainerWinROI.first_name %> <%= trainerWinROI.middle_name %>
					</td>
					<td class="decimal">$<%= trainerWinROI.win_roi %> </td>
					<td class="raceCount"><%= trainerWinROI.wins %></td>
					<td class="raceCount"><%= trainerWinROI.total_races %></td>
				</tr>
			<% end %>			
		</table>	

	<% end %>		

	<h2>
		Place ROI*
	</h2>
	
	<% Trainer.distinct_tracks.each do |trainerTracks| %>

		<% if Trainer.with_place_roi %>

			<h3><%= trainerTracks.track_name.titleize %></h3>

			<table class="table table-condensed table-bordered table-hover">
				<tr>
					<th>Trainer Name</th>
					<th>Place ROI</th>
					<th>Places</th>
					<th>Total Races</th>
				</tr>
				<% Trainer.with_place_roi.where("track_name = ?", trainerTracks.track_name).having("#{Trainer::TRAINER_PLACE_ROI_SELECT} > 5 and #{Trainer::TRAINER_NUMBER_OF_PLACES} > 1").each do |trainerPlaceROI| %>
				<tr>
					<td><%= trainerPlaceROI.last_name %></td>
					<td class="decimal">$<%= trainerPlaceROI.place_roi %> </td>
					<td class="raceCount"><%= trainerPlaceROI.places %></td>
					<td class="raceCount"><%= trainerPlaceROI.total_races %></td>
				</tr>
				<% end %>			
			</table>	

		<% end %>

	<% end %>	


	<h2>
		Show ROI*
	</h2>
	
	<% Trainer.distinct_tracks.each do |trainerTracks| %>

		<% if Trainer.with_show_roi %>

			<h3><%= trainerTracks.track_name.titleize %></h3>

			<table class="table table-condensed table-bordered table-hover">
				<tr>
					<th>Trainer Name</th>
					<th>Show ROI</th>
					<th>Shows</th>
					<th>Total Races</th>
				</tr>
				<% Trainer.with_show_roi.where("track_name = ?", trainerTracks.track_name).having("#{Trainer::TRAINER_SHOW_ROI_SELECT} > 5 and #{Trainer::TRAINER_NUMBER_OF_SHOWS} > 1").each do |trainerShowROI| %>
				<tr>
					<td><%= trainerShowROI.last_name %></td>
					<td class="decimal">$<%= trainerShowROI.show_roi %> </td>
					<td class="raceCount"><%= trainerShowROI.shows %></td>
					<td class="raceCount"><%= trainerShowROI.total_races %></td>
				</tr>
				<% end %>			
			</table>	

		<% end %>

	<% end %>		

	<span class="headingNote">* Note: (based on $2 investment; minimum 2 win/place/show; ROI greater than $5)</span>	

</div>